

@media only screen  and (max-width: 760px) {
  /* Your styles for small screens here */
  body{
    overflow-y: auto;
  }


  .android-transfer-successful-child {
    position: absolute;
    top: 116px;
    left: 5%;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    width: 90%;
    height: 90%;
  }
  .amount1,
  .n11001 {
    position: absolute;
    display: inline-block;
    flex-shrink: 0;
  }
  .amount1 {
    width: 110px;
    font-weight: 500;
    border: 2px solid red;
  }
  .n11001 {
    width: 80px;
    font-size: var(--font-size-base);
    letter-spacing: 0.01em;
    color: var(--color-black);
    text-align: left;
    left: 70%;
    font-weight: 700;
  }
  .amount-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .div5,
  .tue-02-apr1 {
    width: 150px;
    position: relative;
    letter-spacing: 0.01em;
    /* word-wrap: break-word; */
    color: var(--color-black);
    text-align: center;
    display: flex;
    flex-shrink: 0;
  
  }
  .div5 {
    width: 77px;
  }
  .tue-02-apr1{
    left: 50%;
  }
  .frame-group {
    position: absolute;
    top: 242px;
    left: 6%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    border: 2px solid red;
  }
  .android-transfer-successful-item {
    position: absolute;
    top: 116px;
    left: 5%;
    border-radius: var(--br-5xs);
    background-color: #c0eddf;
    width: 90%;
    height: 100px;
  }
  .arrow-left-icon1 {
    width: 24px;
    position: relative;
    height: 24px;
  }
  .arrow-left-container,
  .notification-container {
    position: absolute;
    top: 24px;
    left: 5%;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-mini);
  }
  .notification-container {
    left: 80%;
  }
  .tittle {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.2px;
    line-height: 130%;
  }
  .body,
  .text {
    width: 90%;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    position: absolute;
    top: calc(50% - 315.5px);
    left: 5%;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .download1 {
    position: relative;
    font-weight: 500;
  }
  .download-group {
    position: absolute;
    top: 95%;
    left: calc(50% - 140px);
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumaquamarine-100);
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .android-transfer-successful {
    width: 100%;
    position: relative;
    background-color: var(--color-aliceblue);
    height: 951px;
    overflow-y: scroll;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-gray);
    font-family: var(--font-inter);
  }
  

}






